* {
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}


nav img {
    width: 80px;
}

nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 4px;
    background: #BE7527;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

.text-box {
    width: 50%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box;
    border: solid 5px linear-gradient(rgba(1,9,30,0.2),rgba(1,9,30,0.2));
    border-radius: 30px;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2);
}

.text-box h1 {
    font-size: 60px;
}

.text-box p {
    margin: -10px 0 40px;
    font-size: 22px;
    font: 10px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    border-radius: 10px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: .5s;
    margin-top: 30px;
}

.hero-btn:hover{
    border: 1px solid #BE7527;
    background: #BE7527;
    
}

@media(max-width: 700px) {
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #be7527;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul {
        padding: 30px;
    }
    nav. fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .text-box h1 {
        font-size: 20px;
    }
}


/*---------- SUB-HEADER --------*/
.subheader{
    margin: 50px 0px 30px 50px;

}

.subheader h1{
    font-size: 50px;
    margin: 0px 50px;
}

.subtext {
    display: flex;
}

.subtext p {
    color: #3d3d3d;
    font-weight: 300;
    box-sizing: border-box;
    width: 40%;
    margin: 10px 10px 10px 50px;
    line-height: 30px;
}


/*---------- COURSE --------*/

.course {
    border-top: #04091e 5px solid;
    margin: 0px 80px 00px 80px;
}

.course h1 {
    font-size: 50px;
    margin: 30px 10px 10px 20px;
}

.course .subp{
    box-sizing: border-box;
    width: 45%;
    margin: 10px 10px 0px 20px;
    line-height: 30px;
    color: #3d3d3d;
    font-weight: 300;
}

.course-col {
    flex-basis: 30%;
    text-align: center;
    height: auto;
    background: #04091e;
    color: #fff;
    border-radius: 10px;
    padding: 17px;
    box-sizing: border-box;
    margin-bottom: 40px;
    transition: .5s;
}

.course-col:hover{
    cursor: pointer;
    box-shadow: 0 0 30px 0 rgba(4, 4, 20, 5);
}


.course-col h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .9px;
}

.course-col p{
    padding-top: 10px;
    font-weight: 200;
    color: #fff;
    line-height: 25px;
}



/*---------- Curriculum --------*/
.curriculum{
    border-top: #04091e 5px solid;
    align-content: center;
    margin: 50px 100px 30px 100px;

}


.curriculum .curriculumtext{
    padding-top: 30px;
    text-align: center;

}

.curriculum .curriculumtext h1 {
    font-size: 50px;
    
}
.curriculum .curriculumtext p{
    color: #3d3d3d;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 30px;
    margin: 0 250px;

}

.curriculum h3 {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.curriculum .row {
    display: flex;
    justify-content: space-between;
}

.curriculum-col{
    flex-basis: 30%;
    border-radius: 10px;
    text-align: left;

}

.curriculum-col img {
    width: 100%;
    border-radius: 10px;
}

.curriculum-col h3 {
    text-align: left;
}

.curriculum-col p {
    color: #3d3d3d;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 25px;
    width: 80%;
    font-size: 14px;
}



/*-------- campus -------*/


.campus {
    border-top: #04091e 5px solid;
    margin: 0px 80px 0px 80px;
    text-align: center;
    padding-top: 30px;
}

.campus h1{
    font-size: 50px;    
}

.campus p{
    color: #3d3d3d;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 30px;
    margin: 0 250px;
    
}
.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    justify-self: center;
    padding: 10px;
    cursor: pointer;
    top: -40px;
}

.campus-col img{
    width: 100%;
    transition: .8s;
}

.campus-col img:hover {
    filter: opacity(.7);
}

.campus-col h3{
    color: #04091e;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .5s;
}

.campus-col:hover h3{
    visibility: visible;
    letter-spacing: 4px;
    
}

.viewbtn{
    display: inline-block;
    text-decoration: none;
    background: #04091e;
    color: #fff;
    border: 1px solid #04091e;
    padding: 12px 34px;
    border-radius: 10px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    transition: .5s;
    top: -40px;
}

.viewbtn:hover{
    border: 1px solid #BE7527;
    background: #BE7527;
    
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}



/*----- Facilities ------*/

.facility {
    border-top: #04091e 5px solid;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.facilityhead p{
    color: #3d3d3d;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 30px;
    margin: 0 180px; 
    margin-bottom: 20px;
}



.facility h1{
    font-size: 50px;    
}


.features {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.rowbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    text-align: right;
    
}
.rowbar:nth-child(2){
    text-align: left;
}

.rowbar:nth-child(4){
    text-align: left;
}

.rowbar:nth-child(6){
    text-align: left;
}
.rowbar:nth-child(8){
    text-align: left;
}

.text-col{
    flex-basis: 50%;
    margin-bottom:20px;
}

.text-col ul li {
    list-style: circle;
    line-height: 23px;
    color: #3d3d3d;
    font-weight: 400;
    box-sizing: border-box;
}

.img-col{
    flex-basis: 40%;
    margin-bottom:20px;
}

.img-col img {
    width: 90%;
}

.features h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    
}

.features p{
    color: #3d3d3d;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 30px;    
}




/*---------------- testimonials ------------------*/


.testimonials{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    
}

.testimonials h1 {
    font-size: 35px;
    
}
.testimonial-col {
    flex-basis: 45%;
    border: solid 1px #04091e;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 20px;
    
}

.testimonial-col img {
    height: 100px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa{
    color: gold;
}


@media(max-width:700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*-------- Call To Action ----------*/
    

.cta {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    align-content: center;
    margin: 0 100px;
    margin-bottom: 50px;
    
}

.ctacontent h1{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px; 
    padding: 0; 
}

@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}
   /*-------- Call To Action ----------*/



    

/*--------------Footer---------------*/

.footer {
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }   
    
.footer h4 {
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 600;
    }
    
.icons .fa {
        color: #BE7527;
        margin: 0 13px;
        cursor: pointer;
    }

    .fa-heart-o {
        color: #BE7527;
    }  
    
    
    /*--------------- About Us Page --------------*/


.sub-header{
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: -25px;
    font-size: 40px;
    font-weight: 400;
}

.BannerA {
    margin-top: -30px;
    margin-bottom: -30px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.BannerA img{
    width: 100%;
}
.about-row{
    display: block;
    margin-top: 40px;
}

.abouth1{
    font-size: 60px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 500;
    width: 100%;
    color: #04091e;
}


.about-col{
    text-align: left;
    padding: 20px 0px 0px 400px;
}

.about-col p{
    line-height: 40px;
    font-size: 25px;
}


.about-quote{
    margin: #7084A1 0 20px;
    padding: 30px 0px;
    background: #7084A1; 
    text-align: center;
}

.about-quote h3 {
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 80px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.about-quote span {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    word-spacing: 1px;
}

.about-us h1{
    font-size: 60px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 500;
    width: 100%;
    color: #04091e;
}

.about-us .purpose .text-col{
    text-align: left;
}

.about-us .purpose .text-col h2{
    font-size: 40px;
    font-weight: 300;
    text-decoration: underline 3px;
    color: #04091e;
    
}


.quickfacts{
    width: 100%;
    margin: auto ;
    padding-top: 30px;
    background: #04091e;

}


.quickfacts h1 {
    font-size: 60px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 500;
    color: #fff;
    padding-left: 40px;

}

.factssection{
    display: flex;  
    justify-content: space-evenly;
}

.facts{
    padding: 30px;
    margin: 5px;
    border-radius: 10px;
    text-align: right;

}

.facts h2{
    font-size: 70px;
    font-weight: 600;
    color: #fff;
}

.facts p{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}


.studentopp-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}


.studentopp-row{
    display: block;
    margin-top: 40px;
}



.studentopph1{
    font-size: 60px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 500;
    width: 100%;
    color: #04091e;
}


.studentopp-col{
    text-align: left;
    padding: 10px 0px 10px 400px;
}

.studentopp-col p{
    line-height: 35px;
    font-size: 20px;
}

.studentopp-us .course {
    border-top: none;
    margin: 0px;
    
}

.studentopp-us .course-col {
    flex-basis: 32%;
    text-align: center;
    height: auto;
    background-color: steelblue;
    color: #fff;
    border-radius: 1px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 0px;
    transition: .5s;
}

.studentopp-us .course-col:hover{
    cursor: pointer;
    box-shadow: 0 0 30px 0 rgba(4, 4, 20, 5);
}




.unique{
    margin-top: 80px;
}
.unique .row {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.unique .curriculum-col{
    margin: 10px;
    background-color: whitesmoke;
    cursor: pointer;
    
}

.unique .curriculum-col:hover h3{
    text-decoration: underline;
    font-weight: 400;
    color: #000;
    
    
}

.unique .curriculum-col img {
    padding-bottom: 20px;
    border-radius: 0px;
    
}

.unique .curriculum-col h3{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #04091e;
}

.unique .curriculum-col p{
    margin-left: 10px;
    line-height: 20px;
}

.unique .curriculum-col ul{
    list-style: none;
}

.unique .curriculum-col ul li{
    padding: 5px;
    margin-left: 10px;
    line-height: 20px;
    font-size: 15px;
}

.unique .curriculum-col ul li a{
    color: #333;
    text-decoration:  none;
}

.unique .curriculum-col ul li a:hover{
    color: blue;
    text-decoration:  underline;
}


.uniqueh1{
    font-size: 60px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 500;
    width: 100%;
    color: #04091e;
}


.unique-col{
    text-align: left;
    padding: 20px 0px 20px 400px;
}

.unique-col p{
    line-height: 35px;
    font-size: 20px;
}

.unique-us .course {
    border-top: none;
    margin: 0px;
    
}

.unique-us .course-col {
    flex-basis: 32%;
    text-align: center;
    height: auto;
    background-color: steelblue;
    color: #fff;
    border-radius: 1px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
    transition: .5s;
}

.unique-us .course-col:hover{
    cursor: pointer;
    box-shadow: 0 0 30px 0 rgba(4, 4, 20, 5);
}


.aboutfooter{
    background: #04091e;
}

.homefooter{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
}


.footer{ 
    padding: auto;
}

.footer h4{
    color: #fff;
    font-size: 60px;
    font-weight: 100;    
}

.footer p{
    margin: 0px 50px;
    color: #fff;
    font-weight: 100;
    line-height: 25px;
    
}


.footer .row{
    padding:10px 60px;
    margin-top: 20px;
    
   
    
}

.footer .footer-col{
    text-align: left;
    
    
}

.footer .footer-col h3{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    
    
}

.footer .footer-col ul{
    font-size: 12px;
    margin-top: 5px;
    
    
    
}

.footer .footer-col ul li{
    padding: 3px;
    list-style: none;
    
    
    
}

.footer .footer-col ul li a{
    color: #fff;
    text-decoration: none
    
}

.footer .footer-col ul li a:hover{
    color: blue;
    text-decoration: underline;
    
}

.icons {
    color: aliceblue;
}




/*--------------- Course Page --------------*/

.courseheader{
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(rgba(39,93,56,0.8),rgba(39,93,56,0.8)),url(images/about.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
}

.coursebanner{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.BannerA {
    margin-top: -30px;
    margin-bottom: -30px;
}

.BannerA img{
    width: 100%;
}

.program{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: lightgrey;
}

.protext{
    width: 50%; 
    flex-basis: 30%;
}

.protext h3{
    color: #275D38;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
}

.protext p{
    font-size: 20px;
    color: #000;
    font-weight: 300;
    line-height: 28px;
    
}

.profill{
}

.profill input{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    color: #000;
    background-color: #FFD800;
    border-radius: 5px;
  
}

.probtn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    
}

.probtn button {
    cursor: pointer;
    padding: 15px 5px;
    font-size: 15px;
    margin: 5px;
    color: #000;
    border-color: #275D38;
    background-color: #fff;
    transition: 0.5s;
    border-width: 2px;
    
}

.probtn button:hover {
    background-color: #275D38;
    color: #fff;
   
    
}

.proinfo{
    display: flex;
    justify-content: space-between;
    margin: 40px 50px;
}

.proinfo .info{
    padding: 15px;
    width: 100%;
    border: solid 2px;
    margin: 0px 20px;
    background-image:linear-gradient(rgba(39,93,56,0.8),rgba(39,93,56,.8)), url(images/BannerI.png);
    background-size: cover;

   
}

.proinfo .info h1{
    font-size: 30;
    font-weight: 500;
    color: #FFD800;
    margin-bottom: 10px;
}

.proinfo .info p{
    color: #fff;
    margin-bottom: 60px;
}

.proinfo .info ul{
    list-style: none;

}

.proinfo .info ul li{
    font-size: 15px;
    padding: 3px 0px ;
    font-weight: 600;
}

.proinfo .info ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.proinfo .info ul li a:hover{
    color: #FFD800;
    text-decoration: underline 2px;
}

.promise{
    width: 100%;
    margin: auto ;
    padding-top: 30px;
    background: #ffd800;

}

.promisetext{
    display: block;
    
}

.promisetext h1 {
    font-size: 70px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 300;
    color: #333;
    padding-left: 40px;

}

.promisetext p {
    width: 50%;
    font-size: 25px;
    word-spacing: 2px;
    font-weight: 300;
    color: #333;
    padding-left: 450px;

}

.promisesection{
    display: flex;  
    justify-content: space-evenly;
}

.promisesection .facts{
    width: 30%;
    padding: 25px;
    margin: 5px;
    border-radius: 10px;
    text-align: left;

}

.promisesection .facts h2{
    font-size: 50px;
    font-weight: 400;
    color: #333;
}

.promisesection .facts p{
    font-size: 20px;
    font-weight: 300;
    color: #333;
}

.options{
    width: 100%;
    margin: auto;
    padding: 20px 0px;
    background-image: url(images/BannerO.png);
}

.options h1{
    padding-left: 40px;
    width: 40%;
    font-size: 70px;
    letter-spacing: -3px;
    line-height: 80px;
    font-weight: 400;
    color: #000;
}

.optionsrow{
    display: flex;
    width: 30px;
    justify-content: space-between;
    margin-left: 400px;
    
}

.optionsrow button{
    width: 40vh;
    height: 10vh;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
    color: #000;
    border-color: #275D38;
    background-color: #fff;
    transition: 0.5s;

}

.optionsrow button:hover{
    color: #fff;
    background-color: #275D38;
    border-radius: 10px;
}


.studentex{
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
    
}

.studentex .info{
    padding: 15px;
    width: 60vh;
    height: 50vh;
    margin: 0px 20px;
    background-size: cover;
    cursor: pointer;
}

.studentex .info:hover{
    text-decoration: #fff underline 4px;
}

.studentex:nth-child(1) .info:nth-child(1){
    background:#275D38;
}

.studentex:nth-child(1) .info:nth-child(2){
    background-image: url(images/LifeAcademy.png);
}

.studentex:nth-child(1) .info:nth-child(3){
    background-image: url(images/research.png);
}

.studentex:nth-child(2) .info:nth-child(1){
    background-image: url(images/career.png);
}

.studentex:nth-child(2) .info:nth-child(2){
    background-image: url(images/scholarship.png);
}

.studentex:nth-child(2) .info:nth-child(3){
    background-image: url(images/internationalstudent.png);
}

.studentex:nth-child(3) .info:nth-child(1){
    background-image: url(images/Inuit.jpg);
}

.studentex:nth-child(3) .info:nth-child(2){
    background-image: url(images/residence.jpg);
}

.studentex:nth-child(3) .info:nth-child(3){
    background:#275D38;
}

.studentex .info h3{
    font-size: 30;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

.next{
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

.next-row{
    display: block;
    margin-top: 40px;
}

.next-row h1{
    font-size: 60px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 500;
    width: 100%;
    color: #04091e;
}

.next-row p{
    text-align: left;
    padding: 10px 0px 10px 400px;
    line-height: 35px;
    font-size: 20px;
}

.nextinfo {
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
}

.nextrow{
    display: flex;
    justify-content: space-between;
    text-align: left;
    background: #CACACA;
    margin-bottom: 0px;
    
}

.nextrow:nth-child(2){
    background: #F1C271;
}

.nextrow:nth-child(3){
    background: #BACDB0;
}

.nextrow:nth-child(2){
    text-align: right;
    padding-left: 20px
}

.nextrow .img-col:nth-child(2){
    padding: 0 0 0 30;
    margin: 0;
}

.nextrow .img-col{
    padding-right: 30;
    margin: 0;
}

.nextrow .img-col img {
    width: 80vh;
}

.nextrow .textcol{
    width: 60%;
    display: flex;
    justify-content: space-between;
    
}

.nextrow .text-col{
    padding: 15px 20px 15px 0px;
    cursor: pointer;
}

.nextrow .text-col:hover h2{
    text-decoration: underline;
}

.nextrow .text-col h2{
    color: #04091e;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    
}

.nextrow .text-col p{
    color: #3d3d3d;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 30px; 
    
}



.nextinfo.nextrow:nth-child(2){
    text-align: left;
}

.nextinfo .nextrow:nth-child(4){
    text-align: left;
}

.nextinfo .nextrow:nth-child(6){
    text-align: left;
}

.nextinfo .nextrow:nth-child(8){
    text-align: left;
}

.coursefooter{
    background: #275D38;
}

    /*--------------- bLOG Page

courseheader

--------------*/


.blogheader{
    height: 15vh;
    width: 100%;
    background-image: linear-gradient(rgba(128,0,11,0.8),rgba(128,0,11,0.8)),url(images/about.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
}

.blogbanner{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.blog {
    margin: 0px 80px 00px 80px;
}

.blogposts{
    margin-top: 80px;
}

.blogposts .community{
    margin-bottom: 80px;
}

.blogposts .community h1{
    font-size: 60px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 500;
    width: 100%;
    color: #80000B;
}

.blogposts .community p{
    width: 60%;
    line-height: 40px;
    font-size: 20px;
    font-weight: 300;
    padding-left: 350px;
}

.blogposts h1{
    font-size: 60px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 500;
    width: 100%;
    color: #80000B;
}

.blogposts p{
    font-size: 15px;
    padding: 5px 0;
    font-weight: 300;
}

.blogposts .row {
    margin: auto;
    padding-bottom: 20px;
}

.blogposts .curriculum-col{
    margin: 10px;
    background-color: whitesmoke;
    cursor: pointer;
    
}

.blogposts .curriculum-col img {
    padding-bottom: 20px;
    border-radius: 0px;
}

.blogposts .curriculum-col h3{
    font-weight: 400;
    color: #000;

}

.blog .row {
    display: flex;
    justify-content: space-between;
}

.blogbtn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.blogbtn button {
    cursor: pointer;
    padding: 5px 5px;
    font-size: 15px;
    margin: 5px;
    color: #000;
    border-color: #80000d;
    background-color: #fff;
    transition: 0.5s;
    border-width: 2px;
    border-radius: 5px;
    
}

.blogbtn button:hover {
    background-color: #80000d;
    color: #fff;
   
    
}




t-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    justify-self: center;
    padding: 10px;
    cursor: pointer;
    top: -40px;
    
}
.event h1{
    font-size: 60px;
    letter-spacing: -3px;
    word-spacing: 2px;
    font-weight: 500;
    width: 100%;
    color: #80000B;
}


.event-col img{
    width: 100%;
    transition: .8s;
    background-image: url(images/Alumni.png);
}

.event-col img:hover {
    filter: opacity(.4);
    
}

.event-col h3{
    color: #04091e;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .5s;
    width: 100%;
}

.event-col:hover h3{
    visibility: visible;
    letter-spacing: .1px;
    width: 100%;
}

.event-col:hover img{
    background-image: url(images/Alumni.png);
    
}


.blogfooter{
    background: #80000b;
}




.event {
    margin: 0px 80px 0px 80px;
    text-align: center;
    padding-top: 30px;
}

.event h1{
    font-size: 40px;    
}

.event p{
    color: #3d3d3d;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 30px;
    margin: 0 250px;
    
}
.event-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    justify-self: center;
    padding: 10px;
    cursor: pointer;
    top: -40px;
}

.event-col img{
    width: 100%;
    transition: .8s;
}

event-col img:hover {
    filter: opacity(.7);
}

event-col h3{
    color: #04091e;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 2;
    transition: all ease-in-out .5s;
}

event-col:hover h3{
    visibility: visible;
    letter-spacing: 4px;
    
}

.eventbtn{
    display: inline-block;
    text-decoration: none;
    background: #fff;
    color: #000;
    border: 1px solid #04091e;
    padding: 12px 34px;
    border-radius: 10px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    transition: .5s;
    top: -40px;
}

.eventbtn:hover{
    border: 1px solid #80000d;
    background: #80000d;
    color: #fff;
    
}












/*--------------- Course end --------------*/
.hero-btn.red-btn{
    border: 1px solid #BE7527;
    background: transparent;
    color: #BE7527;
}
.hero-btn.red-btn:hover{
    border: 1px solid #BE7527;
    background: #BE7527;
    color: #fff;
}
.hero-btn.red-btn::after{
    background: #BE7527;
}
.hero-btn.red-btn::before{
    background: #BE7527;
}
.content-image{
    flex-basis: 50%;
}
.about-col img{
    width: 100%;
}



/*------- Contact Us Page ------------*/

.contact-header{
    height: 15vh;
    width: 100%;
    background-image:url(images/contactheader.png);
    background-size: cover;
    text-align: center;
    color: #fff;
}

.contactbanner{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
    
}
.location iframe{
    width: 100%;

    
}

.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #04091e;
    margin: 10px;
    margin-right: 30px;
}
    
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.footer-link{
    text-decoration: none;
    color: #777;
}

.contactfooter{
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.2)),url(images/banner.png);
}




